<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /CodeIgniter-Masibay

  # Allow any files or directories that exist to be displayed directly
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond $1 !^(index\.php|assets|images|js|css|libs|uploads|icons|favicon.png|fonts)
  # Rewrite all other URLs to index.php/URL
  RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>